server {
  listen 80;
  location / {
    root /usr/share/nginx/html;
    try_files $uri $uri/ /index.html;
  }
  location /index.html {
    sub_filter_once off;
    sub_filter '</head>' '<script>window.BACKEND_URL = "${BACKEND_URL}";</script></head>';
  }
  location /query {
    proxy_pass http://backend:8000;  # Proxies to backend service
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
  }
}